<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="picture-404">
	<img src="/images/404.png" alt="404"/>
</div>
<div class="text-404">
	<span id="J_Time">5 </span>秒钟后自动跳转...
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/blog.js"></script>
<script type="text/javascript">
	var myBlog = myBlog || {};
	myBlog.delayUrl("http://localhost:3000");
</script>
</body>
</html>