</article>
</div>
<footer class="blog-footer">
	<p>
		Blog build by <a href="https://twitter.com/HelloXinux" target="_blank">@Xinux</a>
	</p>

	<p>
		<a href="#">Back to top</a>
	</p>
</footer>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/javascripts/validation.js"></script>
</body>
</html>