<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Blog</title>
	<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main">
	<header>
		<h1><%= title %></h1>
	</header>

	<nav>
		<span><a title="主页" href="/">home</a></span>
		<span><a title="存档" href="/archive">archive</a></span>
		<span><a title="标签" href="/tags">tags</a></span>
		<span><a title="友情链接" href="/links">links</a></span>
		<% if (user) { %>
		<span><a title="上传" href="/upload">upload</a></span>
		<span><a title="发表" href="/post">post</a></span>
		<span><a title="登出" href="/logout">logout</a></span>
		<% } else { %>
		<span><a title="登录" href="/login">login</a></span>
		<span><a title="注册" href="/reg">register</a></span>
		<% } %>

	</nav>

	<div class="tools">
		<span>
			<span>SEARCH</span>
			<form action="/search" method="GET">
				<input class="search" type="text" name="keyword" placeholder=" KEYWORD"/>
			</form>
		</span>

		<div class="sidebar-module sidebar-module-inset">
			<h4>About</h4>

			<p>Welcome to <em>Xinux's Home Page</em>, This blog demo is made by Xinux, thanks for giving me your
				sincerely suggestion. You can write it down in comments</p>
		</div>

		<div class="linkList">
			<ul>
				<li class="linkList-item">LINKS</li>
				<li class="linkList-item">
					<div>
						<span class="links-icon">
						<a href="https://twitter.com" target="_blank"><img src="/images/twitter-icon.png"></a>
					</span>
						<span class="links-text"><a href="https://twitter.com/HelloXinux">Xinux's Twitter</a></span>
					</div>
				</li>
				<li class="linkList-item">
					<div>
						<span class="links-icon">
						<a href="https://github.com" target="_blank"><img src="/images/github-icon.png"></a>
					</span>
						<span class="links-text"><a href="https://github.com/xuxinpie">Xinux's GitHub</a></span>
					</div>
				</li>
			</ul>
		</div>

	</div>


	<article class="clearfix">
		<% if (success) { %>
		<div><%= success %></div>
		<% } %>
		<% if (error) { %>
		<div><%= error %> </div>
		<% } %>
