<%- include header %>
<ul>
	<li class="linkList-item">
		<span class="links-icon">
			<a href="https://twitter.com" target="_blank"><img src="/images/twitter-icon.png"></a>
		</span>
		<a href="https://twitter.com/HelloXinux">Xinux's Twitter</a>
	</li>
	<li class="linkList-item">
		<span class="links-icon">
			<a href="https://github.com" target="_blank"><img src="/images/github-icon.png"></a>
		</span>
		<a href="https://github.com/xuxinpie">Xinux's GitHub</a>
	</li>
</ul>
<%- include footer %>