<%- include header %>
<form id="J_PostForm" role="form" method="post">
    <div class="form-group">
        <label for="name">标题</label>
        <input type="text" class="form-control" id="name" name="title">
    </div>
    <div class="form-group">
        <label for="name">正文</label>
        <textarea class="form-control" name="post" rows="20" cols="100"></textarea>
    </div>
    <div class="form-group">
        <label for="name">标签</label>
        <input type="text" class="form-control" id="tag1" name="tag1">
        <input type="text" class="form-control" id="tag2" name="tag2">
        <input type="text" class="form-control" id="tag3" name="tag3">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-blue">发表</button>
    </div>
</form>
<%- include footer %>
